Tamanho das keys do pyjwt

Durante os testes no CI alguns avisos sobre a dimensão da chave estão sendo levantados. Seria interessante corrigir isso.

```
/home/runner/.cache/pypoetry/virtualenvs/fastapi-do-zero-b-ugIaxI-py3.14/lib/python3.14/site-packages/jwt/api_jwt.py:153: InsecureKeyLengthWarning: The HMAC key is 15 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
```

https://github.com/dunossauro/fastapi-do-zero/actions/runs/22369055889/job/64742775339#step:8:974

---

Isso começa na aula 06, onde os tokens JWT são inseridos!

Deve ser gerado um bloco de explicação sobre como gerar uma chave segura para isso.

```python
import secrets

secret_key = secrets.token_hex(32)
```

Essa operação existe nos slides do curso, mas não foi inserida no material de aula. É importante que isso seja feito.

Fora isso, é interessante que no fonte das aulas, a chave do `.env` tenha os 32 chars de forma mais legível. Algo como:

```env
SECRET_KEY="your-very-secret-and-exclusive-key"
```